<h1>Soins#index</h1>
<p>Find me in app/views/soins/index.html.erb</p>
<h2>Categories</h2>
<%= link_to "visage", visage_soins_path %>
<%= link_to "corps", corps_soins_path %>
<%= link_to "massages", massages_soins_path %>
<ul>
  <% @soins.each do |soin|%>
  <li><%= link_to soin.name, soin_path(soin) %></li>
  <% end %>
</ul>
