!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body style="padding: 1em; font-family:'Inter';">
    <h1 style="text-align: center;font-family:'Arsenal' ;">Votre cheque cadeau</h1>
    <footer style="background-color: black; color:white;">
      <p>Nature is future</p>
      <p>suivez-nous sur les réseaux sociaux</p>
      <p>logo facebook logo instagram</p>
      <h1 style="color:white;">FOOTER</h1>
    </footer>
  </body>
</html>
