$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$greenlight: #40B0A5;
$greenyuka: #94C52B;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #000;
$green: #90A368;

$black_crm: #414e66;
$red_crm:#fa617c;
$blue_crm: #2ecee4;
$green_crm:#05c486;
$orange_crm:#ff9466;
