#main-content {
  max-width: 1280px;
  margin: auto;
  min-height: 100vh;
  padding: 0 1em;
  padding-top: 200px !important;
}
.shadow {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.25);
}
svg {
  width: 100%;
  height: 100%;
}
p {font-family: $base-font;}
h1,h2,h3,h4,h5,h6{ font-family: $header-font; }
