#crm {
  display: flex;
  min-height: 100vh;
  background-color: whitesmoke;
  h1,h2,h3,h4,h5,h6,p,ul,li,a {font-family: "DM Sans", "Helvetica", sans-serif;}
  main {
    padding: 2em 10px;
    width: 90%;
    max-width: 100%;
    border: solid 3px red;
    background-color: whitesmoke;
  }
}
#nav-crm {
  background-color: $black_crm;
  min-width: 200px;
  max-width: 200px;
  font-size: 0.9em;
  .disable {
    opacity: 0.4;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  a, li { text-decoration: none; color: white;list-style: none;
    padding: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    color: white;
    text-decoration: none;
    li {
      padding: 0.8em 1em;
      i {margin-right: 10px;}
    }
  }
  .btn_disconnect {
    display: flex;
    justify-content: flex-start;
    padding: 0.8em 1em;
    form {display: flex; width: 100%;}
    button {
      background-color: transparent;
      border:solid 1px white;
      color: white;
      width: 100%;
    }
  }
}
.table-responsive {
  border: solid 2px green;
  width: 100%;
  max-width: 100%;
}
table.crm-tableau {
  border-collapse: separate;
  border-spacing: 0px 10px;
  //table-layout:fixed;
  tbody {
  }
  td,th {padding-left: 5px; padding-right: 5px;
    white-space:nowrap;
  }
  th {font-size: 0.9em;
    //display: flex;
    width: max-content;
    text-align: left;
    white-space:nowrap;
    border: solid 1px yellow;
    width: auto;
    justify-content: space-between;
    div{
      display: flex;
      justify-content: space-between;
      span {}
      i {font-size: 1.2em; cursor: pointer;}
    }

  }
  td {
    text-align: center;
    border: solid 1px #000;
    border-style: solid;
    line-height: 2em;
    padding: 5px 10px;
  }
  tr {font-size: 0.8em;}
  tr td:first-child { border-top-left-radius: 5px; }
  tr td:last-child { border-top-right-radius: 5px;
    a { padding: 0 10px; text-decoration: none; color: blue;}
  }

  tr td:first-child { border-bottom-left-radius: 5px; }
  tr td:last-child { border-bottom-right-radius: 5px; }
}
table.crm-tableau.prospection {
  td {white-space: pre-wrap;}
}

.stat_bloc {
  border: solid 2px lightcoral;
  padding: 8px 10px;
  border-radius: 3px;
  background-color: white;
  h2 {
    font-size: 1.2em; font-weight:400;text-decoration: underline; margin-bottom: 5px;
    text-underline-offset: 8px;
  }
}
.table_cmds_stats {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  th,td {
    border: 1px solid black;
    padding: 8px 10px;
  }
  tr,td {border: 1px solid black; text-align: right;}
  tr td:first-of-type {text-align: left;}
  th {text-align: center;}
  .border_none, .border_none td {border: none;}
}
.table_crm_overflow {
  width: 100%;
  overflow: auto;
}
.crm_grid {
  display: grid;
  column-gap: 3px;
  .list_customers {border: solid 1px;
  padding: 2px;}
  &.three {
    grid-template-columns: 1fr 1fr 1fr;
  }
  table {width: 100%;
    th,td {border: 1px solid black;}
    th {font-size: 0.8em;}
    td {font-size: 0.8em; text-align: right;}
    td:first-of-type {text-align: left;}
  }
}
.list_cat_prospects {display: flex; flex-wrap: wrap;}
.prospect_cat {
  border: solid 1px;
  border-radius: 20px;
  padding: 2px 8px;
  &.beauty_salon, &.spa {background-color: #fe9e9e;}
}
