#espace_pro {
  border: solid 1px;
  display: flex;
  position: relative;
  h1,h2,h3, {font-family: "DM Sans", Helvetica, sans-serif;}
  #espace_pro_nav {
    padding-top: 1em;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: white;
    border: solid 2px red;
    min-width: 250px;
    font-family: "DM Sans", Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    .logo-home {display: block;margin: auto;}
    ul {list-style: none; padding: 0;
      li {margin-bottom: 5px;}
    }
    details {
      .liste_details {
        padding-left: 1em;
      }
    }
    a {text-decoration: none;color: black;
      &:hover {text-decoration: underline;}
    }
  }
}
#espace_pro main {
  border: solid 2px blue;
  width: 100%;
  padding: 10px;
  background-color: whitesmoke;
}
.btn_espace_pro {
  border: solid 1px;
  border-radius: 5px;
  text-decoration: none;
  padding: 2px 8px;
  &:hover {
    text-decoration: none !important;
  }
}

.progression_customer {
  border: solid 2px red;
  width: 300px;
  progress {width: 100%;}
  .progression_avantages {
    width: 100%;
    display: flex;
    span {border: solid 1px blue; width: 25%; text-align: right;}
  }
}
