#espace_pro {
  border: solid 1px;
  display: flex;
  position: relative;
  #espace_pro_nav {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: whitesmoke;
    border: solid 2px red;
    min-width: 200px;
    font-family: "DM Sans", Helvetica, sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    ul {list-style: none; padding: 0;
    }
    details {
      ul {
        padding-left: 15px !important;
      }
    }
  }
}
.btn_espace_pro {
  border: solid 1px;
  border-radius: 5px;
}

.progression_customer {
  border: solid 2px red;
  width: 300px;
  progress {width: 100%;}
  .progression_avantages {
    width: 100%;
    display: flex;
    span {border: solid 1px blue; width: 25%; text-align: right;}
  }
}
