.titre-home {
}
.banner_home {
  border: solid 1px;
  height: 30vh;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px !important;
  background-color: red;
}
