.titre-home {
}
.banner_home {
  border: solid 1px;
  height: 30vh;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px !important;
  background-color: red;
}

#home_presentation {
  background-color: white;
  display: grid;
  grid-template-areas:
  "presentation"
  "ecocert"
  "produits"
  "charte"
  "avis"
  "formations"
  "pictos"
  "partenaires"
  "articles"
  "devenir_partenaire"
  ;
  .presentation {
    width: 100%;
    grid-area: presentation;
    display: flex;
    justify-content: space-between;
    .presentation_texte {
      width: 35%;
      h2 {
        font-size: 1.7rem;
        margin-bottom: 22px;
      }
    }
    .presentation_images {
      //max-width: 56%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap:10px;
      img {
        width: auto;
        height: 340px;
        object-fit: fill;
      }
    }
  }

  .presentation {
    display: grid;
    grid-template-columns: 35% 10% 55%;
    grid-template-areas:
    "presentation_titre . presentation_imgs"
    "presentation_texte . presentation_imgs"
    "presentation_cta . presentation_imgs"
    ;
    h2 {grid-area: presentation_titre;}
    .presentation_images {grid-area: presentation_imgs;
      display: flex;
      justify-content: end;
    }
    p {grid-area: presentation_texte;}
    a {grid-area: presentation_cta; display: flex; align-items: center;
      width: fit-content; height: fit-content;
    }
  }
  .ecocert {
    grid-area: ecocert;
  }
  .produits {
    grid-area: produits;
  }
  .charte {
    grid-area: charte;
    background-color: rgba(35, 31, 32, 0.03);
    .charte_bloc {background-color: transparent;
      .charte_elements {
        display: flex;
        .charte_image {
          width: 100%;
        }
        .charte_texte {width: 100%;
          ul{
            list-style: none;
            padding: 0;
            li {
              display: flex;
              width: 100%;
              align-items: center;
              img {height: 75px; width:auto;
                margin-right: 20px;
              }
              div {
                width: 100%;
                h3 {
                  font-size: 1em;
                  font-weight: bold;
                  font-family: "DM Sans", "Helvetica", sans-serif;
                }
                p {}
              }
            }
          }
        }
      }
    }
  }
  .avis {
    grid-area: avis;
    .slides_grey {
      //border: solid 3px yellow;
      //background-color: antiquewhite;
    }
    .slideshow_avis {
      position: relative;
      border: solid 2px red;
      width: 100vw;
      max-width: 100vw;
      height: 260px;
      margin: auto;
      overflow: hidden;
      background-color: transparent;
      opacity:initial;
      .list_avis {
        border: solid 1px blue;
        width: 0px;
        height: 260px;
        //margin: auto;
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        position: absolute;
	      top: 0;
	      left: 0;
	      margin: 0;
	      padding: 0;
        animation-name: AutoSlide;
	      animation-duration: 10s;
	      animation-iteration-count: infinite;
	      animation-timing-function: ease-in-out;
        .avis_item {
          //display: inline;
          border: solid 1px red;
          min-width: 100vw;
          width: 100vw;
          //padding-left: 100px;
          //padding-right: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          .content_avis {
            border: solid 1px blue;
            padding: 2px 20px;
            display: flex;
            width: 50%;
            justify-content: center;
            .content_avis_photo {}
            .content_avis_review {}
            .content_avis_author {}
          }
        }
      }
    }
  }
  @keyframes AutoSlide {
    0%, 15%, 100% {
      left: -200vw; /*1ère image*/
    }
    20%, 35% {
      left: -300vw; /*2ème image*/
    }
    40%, 55% {
      left: -400vw; /*3ème image*/
    }
    60%, 75% {
      left: 0px; /*3ème image*/
    }
    80%, 95% {
      left: -100vw; /*3ème image*/
    }
  }

  .formations {
    grid-area: formations;
  }
  .pictos {
    grid-area: pictos;
  }
  .partenaires {
    grid-area: partenaires;
  }
  .articles {
    grid-area: articles;
  }
  .devenir_partenaire {
    grid-area: devenir_partenaire;
  }
}
.marge_home {
  margin-top: 60px;
}


@media only screen and (max-width: 40em) {

  .presentation {
    //grid-template-columns: 100%;
    background-color: red;
    display: flex !important;
    flex-direction: column !important;
    grid-template-columns: 1fr;
    .presentation_images {
      display: flex;
      grid-template-columns: 1fr !important;
    }
  }
  .charte_elements {
    .charte_image {display: none;}
  }
  .charte_texte {
    ul {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      li {
        flex-direction: column;
        width: 200px;
      }
    }
  }
}
