.titre-home {
}
.banner_home {
  border: solid 1px;
  height: 30vh;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px !important;
  background-color: red;
}

#home_presentation {
  background-color: white;
  display: grid;
  grid-template-areas:
  "presentation"
  "ecocert"
  "produits"
  "charte"
  "avis"
  "formations"
  "pictos"
  "partenaires"
  "articles"
  "devenir_partenaire"
  ;
  .presentation {
    width: 100%;
    grid-area: presentation;
    .presentation_texte {}
    .presentation_images {}
  }
  .ecocert {
    grid-area: ecocert;
  }
  .produits {
    grid-area: produits;
  }
  .charte {
    grid-area: charte;
    background-color: rgba(35, 31, 32, 0.03);
    .charte_bloc {background-color: transparent;
      .charte_elements {
        display: flex;
        .charte_image {
          width: 100%;
        }
        .charte_texte {width: 100%;
          ul{
            list-style: none;
            padding: 0;
            li {
              display: flex;
              width: 100%;
              align-items: center;
              img {height: 75px; width:auto;
                margin-right: 20px;
              }
              div {
                width: 100%;
                h3 {
                  font-size: 1em;
                  font-weight: bold;
                  font-family: "DM Sans", "Helvetica", sans-serif;
                }
                p {}
              }
            }
          }
        }
      }
    }
  }
  .avis {
    grid-area: avis;
    .slides_grey {
      //border: solid 3px yellow;
      //background-color: antiquewhite;
    }
    .slideshow_avis {
      position: relative;
      border: solid 2px red;
      width: 700px;
      height: 50px;
      margin: auto;
      overflow: visible;
      background-color: transparent;
      opacity:initial;
      .list_avis {
        border: solid 1px blue;
        width: 0px;
        height: 40px;
        //margin: auto;
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        position: absolute;
	      top: 0;
	      left: 0;
	      margin: 0;
	      padding: 0;
        animation-name: AutoSlide;
	      animation-duration: 10s;
	      animation-iteration-count: infinite;
	      animation-timing-function: ease-in-out;
        .avis_item {
          //display: inline;
          border: solid 1px red;
          min-width: 700px;
          width: 700px;
          //padding-left: 100px;
          //padding-right: 100px;
        }
      }
    }
  }
  @keyframes AutoSlide {
    0%, 15%, 100% {
      left: -1400px; /*1ère image*/
    }
    20%, 35% {
      left: -2100px; /*2ème image*/
    }
    40%, 55% {
      left: -2800px; /*3ème image*/
    }
    60%, 75% {
      left: 0px; /*3ème image*/
    }
    80%, 95% {
      left: -700px; /*3ème image*/
    }
  }
  .formations {
    grid-area: formations;
  }
  .pictos {
    grid-area: pictos;
  }
  .partenaires {
    grid-area: partenaires;
  }
  .articles {
    grid-area: articles;
  }
  .devenir_partenaire {
    grid-area: devenir_partenaire;
  }
}


@media only screen and (max-width: 40em) {
  .charte_elements {
    .charte_image {display: none;}
  }
  .charte_texte {
    ul {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      li {
        flex-direction: column;
        width: 200px;
      }
    }
  }
}
