.titre-home {
}
.banner_home {
  border: solid 1px;
  height: 30vh;
  min-height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 200px !important;
  background-color: red;
}

#home_presentation {
  background-color: white;
  display: grid;
  grid-template-areas:
  "presentation"
  "ecocert"
  "produits"
  "charte"
  "avis"
  "formations"
  "pictos"
  "partenaires"
  "articles"
  "devenir_partenaire"
  ;
  h2 {text-transform: uppercase;font-family: "Manrope","DM Sans", "Helvetica", sans-serif;
    margin-bottom: 12px;display: flex;flex-wrap: wrap;
    font-size: 1.2em;
    font-weight: 400;
    //font-family: "Manrope";
  }
  h3 {font-size: 1.2em;}
  p {font-size: 1em;}
  .presentation {
    width: 100%;
    grid-area: presentation;
    display: flex;
    justify-content: space-between;
    .presentation_texte {
      width: 35%;
      h2 {
        font-size: 1.7rem;
        margin-bottom: 22px;
      }
    }
    .presentation_images {
      //max-width: 56%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap:10px;
      img {
        width: auto;
        height: 340px;
        object-fit: fill;
      }
    }
  }

  .presentation {
    display: grid;
    grid-template-columns: 35% 10% 55%;
    grid-template-areas:
    "presentation_titre . presentation_imgs"
    "presentation_texte . presentation_imgs"
    "presentation_cta . presentation_imgs"
    ;
    h2 {grid-area: presentation_titre; text-transform: none; font-weight: 300; font-size: 1.3em;}
    .presentation_images {grid-area: presentation_imgs;
      display: flex;
      justify-content: end;
    }
    p {grid-area: presentation_texte; font-size: 0.9em;}
    a {grid-area: presentation_cta; display: flex; align-items: center;
      width: fit-content; height: fit-content;
    }
  }
  .ecocert {
    grid-area: ecocert;
    height: 180px;
    background-image: url(asset_path('home/home_banner_ecocert.jpg'));
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    .inside {
      background-color: transparent;
    }
  }
  .produits {
    grid-area: produits;
    ul {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 15px;
      li {
        border: none;
        border-radius: 0;
        min-width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        .best_img {
          width: 100%; height: 250px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {object-fit: cover;width: 100%; height: 100%;}
        }
        h3 {margin: 0; font-family: "DM Sans", Helvetica, sans-serif; text-transform: uppercase; font-size: 1em; margin-top: 5px; margin-bottom: 5px;}
        a {font-size: 0.8em;}
      }
    }
  }
  .charte {
    grid-area: charte;
    background-color: rgba(35, 31, 32, 0.03);
    .charte_bloc {background-color: transparent;
      .charte_elements {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .charte_image {
          width: 55%;
          img {width: 100%;}
        }
        .charte_texte {width: 37%;
          ul{
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            li {
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 2em;
              .img_charte {
                height: 90px; width:fit-content;
                margin-right: 20px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                img {
                  width: auto;
                  height: 100%;
                }
              }
              .text_charte {
                width: 100%;
                h3 {
                  font-size: 0.9em;
                  font-weight: bold;
                  font-family: "DM Sans", "Helvetica", sans-serif;
                }
                p {font-size: 0.9em; line-height: normal; margin: 0;}
              }
            }
            li:last-child {margin-bottom: 0;}
          }
        }
      }
    }
  }
  .avis {
    grid-area: avis;
    .slides_grey {
      //border: solid 3px yellow;
      //background-color: antiquewhite;
    }
    .slideshow_avis {
      position: relative;
      //border: solid 2px red;
      width: 100vw;
      max-width: 100vw;
      height: 260px;
      margin: auto;
      overflow: hidden;
      background-color: transparent;
      opacity:initial;
      .list_avis {

        width: 0px;
        height: 260px;
        //margin: auto;
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        position: absolute;
	      top: 0;
	      left: 0;
	      margin: 0;
	      padding: 0;
        animation-name: AutoSlide;
	      animation-duration: 10s;
	      animation-iteration-count: infinite;
	      animation-timing-function: ease-in-out;
        .avis_item {
          //display: inline;
          //border: solid 1px red;
          min-width: 100vw;
          width: 100vw;
          //padding-left: 100px;
          //padding-right: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          .content_avis {
            //border: solid 1px blue;
            padding: 2px 20px;
            display: flex;
            width: 50%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .content_avis_photo {
              img {border-radius: 50%; width: 75px; height: 75px; object-fit: cover;}
              margin-bottom: 20px;
            }
            .content_avis_review {
              font-size: 1.2em;
              p {margin: 0; text-align: center; font-weight: 300;}
            }
            .content_avis_author {
              font-weight: 200;
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
  @keyframes AutoSlide {
    0%, 15%, 100% {
      left: -200vw; /*1ère image*/
    }
    20%, 35% {
      left: -300vw; /*2ème image*/
    }
    40%, 55% {
      left: -400vw; /*3ème image*/
    }
    60%, 75% {
      left: 0px; /*3ème image*/
    }
    80%, 95% {
      left: -100vw; /*3ème image*/
    }
  }

  .formations {
    grid-area: formations;
    background-color: rgba(35, 31, 32, 0.03);
    .inside {background-color: transparent;}
    .flex_formation_home {
      display: flex;
      //align-items: center;
      justify-content: space-between;
      .formations_img {width: 55%;}
      .formations_text {width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 1.3em;
          text-transform: none;
          font-weight: 300;}
        a {width: fit-content; background-color: white;}
        p {font-size: 0.9em;}
      }
    }
  }
  .pictos {
    grid-area: pictos;
    width: 100%;
    div {
      width: 80%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      img {display: block; margin: auto; width: 6em;}
    }
  }
  .partenaires {
    grid-area: partenaires;
    background-color: rgba(35, 31, 32, 0.03);
    h2 {background-color: transparent;padding: 0;}
  }

  .devenir_partenaire {
    border: solid 1px;
    grid-area: devenir_partenaire;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    //background-image: url("images/home/nif-pro-banner-partenaire.jpg");
    //background-image: url("assets/images/home/nif-pro-banner-partenaire.jpg");
    //background-image: url(/assets/images/home/nif-pro-banner-partenaire.jpg);
    //background-image: url('images/home/nif_pro_banner_partenaire.jpg');
    background-image: url(asset_path('home/nif_pro_banner_partenaire.jpg'));
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    .inside {
      background-color: transparent;
      color:white;
      text-align: center;
      p {font-size: 1.5em;}
      a {background-color: white;}
    }
  }
}
.padd_50 {
  padding: 50px 0;
}
.marge_home {
  margin-top: 60px;
}
.grid_home_three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 0;
  gap: 30px;
  list-style: none;
  background-color: transparent;
  li {
    //border: solid 1px;
    //background-color: transparent;
    .partenaires_photo {
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {width: 100%; height: 100%; object-fit: cover; display: flex;}
    }
    .partenaires_text {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      font-weight: 500;
      //background-color: transparent;
      font-family: "DM Sans", Helvetica, sans-serif;
      font-size: 0.9em;
      align-items: baseline;
      h3 {margin: 0; font-family: "DM Sans", Helvetica, sans-serif;
        //background-color: transparent;
      }
      p { font-size: 1rem; margin: 0; text-transform: uppercase;
        //background-color: transparent;
      }
    }
  }
}

.articles_home {
  grid-area: articles;
  width: 100%;
  padding: 0;
  border: solid 1px;
  .article_home_item {
    border: solid 2px green;
    display: flex;
    img {width: 265px; height: 50px; border: solid 1px;}
    .article_home_text {
      border: solid 1px;
      width: 560px;
      p{}
    }
    //display: grid;
    //grid-template-columns: 260px 560px ;
  }
}
.titre_bloc {
  display: flex;
  align-items: baseline;
  background-color: transparent;
  justify-content: space-between;
  a {margin-left: 10px;}
}
.savoir_plus {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 200;
}

h1,h2,h3,p, a {
  font-family: "Manrope" !important;
}

@media only screen and (max-width: 40em) {

  .presentation {
    display: flex !important;
    flex-direction: column !important;
    grid-template-columns: 1fr;
    padding-left: 0 !important;
    padding-right: 0 !important;
    h2,p {
      padding: 0px 20px;
    }
    .presentation_images {
      display: flex;
      //grid-template-columns: 1fr !important;
      justify-content: flex-start !important;
      max-width: 100vw !important;
      overflow-x: scroll !important;
    }
    a {margin: auto;}
  }
  .charte_elements {
    .charte_image {display: none;}
  }
  .charte_texte {
    max-width: 100vw;
    width: 100% !important;
    ul {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      max-width: 100vw;
      li {
        flex-direction: row;
        min-width: 100vw;
        padding: 0 5px;
      }
    }
  }
  .charte_bloc {
    padding-left: 0 !important;
    padding-right: 0 !important;
    h2 {padding:0 !important;}
  }
  .content_avis {
    width: 100% !important;
    //background-color: yellow;
  }
  .content_avis_review {
    p {font-size: 0.9em;}
  }
  .partenaires {
    width: 100%;
    max-width: 100vw;
  }

  .home_presentation {
  }
  .charte {

  }
  .avis {
  }
  .formations {
    .flex_formation_home {
      flex-direction: column;
      .formations_img {
        width: 100% !important;
        display: flex;
        img {width: 100%;}
      }
      .formations_text {
        width: 100% !important;
      }
    }
    //
    //display: none;
  }
  .pictos {
    //display: none;
    div {
      img {width: auto;}
    }
  }
  .partenaires {
    //display: none;
    //background-size: 100% 100%;
    h2 {padding:0px 20px !important;}
    .grid_home_three {
      grid-template-columns: 1fr;
    }
  }
  .articles {display: none;}
  .devenir_partenaire {
    background-size: 100% 100% !important;
  }
  .produits {
    .inside {padding-left: 0; padding-right: 0;}
    h2 { padding: 0px 20px !important;}
    ul {
      width: 100vw;
      overflow-x: scroll;
      padding: 0px 20px !important;
      li {width: 90vw;
        height: 300px;
        .best_img {
          width: 100%;
        }
      }
    }
  }
}
