@import "home";
@import "product";

@import "crm";
@import "institut";
@import "espace_pro";
@import "cours";
@import "partenaire";
@import "post";
@import "login";
@import "medias";
@import "medias_espace_pro";
