#main_institut {
  display: grid;
  grid-template-areas:
  "message message message"
  "carousel carousel carousel"
  "titre titre coord"
  "desc desc coord"
  "promo promo coord"
  "soins soins ."
  "contact contact ."
  ;
  .message_institut {
    grid-area: message;
    border: solid 1px;
  }
  .carousel_institut {
    grid-area: carousel;
  }
  .titre_institut {
    grid-area: titre;
  }
  .desc_institut{
    grid-area: desc;
  }
  .coord_institut{
    grid-area: coord;
    margin-left: 3em;
    .institut_contact_pictos {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      img {margin-right: 0.5em;}
    }
    .horaires_institut {
      table {
        td {
          text-align: left;
          padding-right: 25px;
        }
        td:first-of-type {font-weight: bold;}
      }
      a {text-decoration: none; color: black;}
    }
  }
  .soins_institut{
    grid-area: soins;
    border: solid 1px;
  }
  .contact_institut {
    grid-area: contact;
    border:solid 1px green;
  }
}
.accordions.institut {
  cursor:auto;
  .accordion-action {border: none; padding: 0;}
  .picto-chevron {visibility: hidden;}
  .accordion-hidden {
    visibility: visible;
    height: auto;
  }
}

#instituts_list {
  min-height: 100vh;
  .grid_instituts {
    display: grid;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    grid-template-rows: minmax(100px, max-content);
    &.four {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .instituts_card {
    background-color: white;
    border: solid 1px black;
    border-radius: 25px;
    padding: 1em;
    height: fit-content;
    .institut_card__name {
      text-align: center;
      p {margin: 0;}
      .institut_card_titre {}
      .institut_card_ville {}

    }
    .instituts_accordion {
      div:first-of-type {display: flex;justify-content: flex-end;}
      .instituts_accordion_hide {
        display: none;
        height: 0;
        visibility: hidden;
        &.open {
          height: auto;
          visibility: visible;
          display: block;
        }
        table {font-size: 0.8em; margin-bottom: 1.5em;}
        a {margin: auto;}
      }
    }
  }
  .instituts_intro {
    background-color: #909671;
  }
}


@media only screen and (max-width: 40em) {
  #main_institut {
    grid-template-areas:
    "message message message"
    "titre titre titre"
    "carousel carousel carousel"
    "desc desc desc"
    "promo promo promo"
    "coord coord coord"
    "soins soins soins"
    "contact contact contact"
    ;
    .coord_institut{margin-left: 0;}
    .coord_institut {
      .btn-rond {
        display: block;
        margin: auto;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
      }
    }
    .accordions.institut {
      cursor:auto;
      .accordion-action {}
      .picto-chevron {visibility: visible;}
      .accordion-hidden {
        visibility: hidden;
        display: none;
        height: 0;
        &.visible {
          visibility: visible;
          display: block;
          height: auto;
        }
      }
      li,.accordion-action {
        padding: 25px;
        border-top: solid 1px;
      }
      li:last-of-type {
        border-bottom: solid 1px;
      }
    }
  }

}
