.login_form {
  //border: solid 1px;
  max-width: 80%;
  margin: auto;
  input[type=submit] {
    background-color: black;
    color: white;
    border-radius: 0;
    margin-bottom: 1em;
    &:hover {opacity: 0.8;}
  }
  a {color: black;
    &:hover {opacity: 0.8;}
  }
}
.espace_pro_presentation {
  border: solid 1px;
  display: grid;
  height: 60vh;
  grid-template-areas:
  "a b b"
  "a b b";

  div {border: solid 1px red;}
  button {
    background-color: black;
    color: white;
    border-radius: 0;
    &:hover {opacity: 0.8;}
  }
  a {color: black;
    &:hover {opacity: 0.8;}
  }
  .espace_pro_presentation_block {
    &.text {
      grid-area: a;
    }
    &.image {
      grid-area: b;
      display: flex;
      width: 100%;
      img {
        display: flex;
        max-height: 60vh;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}
