/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1024px) {

}

@media all and (min-width: 1024px) and (max-width: 1280px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}
@media all and(min-width:40em){
}

/*------------------------------------------
  Foundation Media Queries
   http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/

/* Small screens - MOBILE */
@media only screen {

} /* Define mobile styles - Mobile First */


/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
  #espace_pro_nav {
    visibility: hidden;
    width: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    &.visible {
      width: 60% !important;
      visibility: visible;
      position: fixed !important;
      background-color: white !important;
      height: 100%;
      padding-left: 15px !important;
      padding-right: 15px !important;
      transition: width 300ms;
      z-index: 10;
    }
    .espace_pro_cartouche {
      padding-top: 1em;
      padding-bottom: 1em;
    }
    ul {
      li {font-size: 0.9em;}
    }
  }
  .fa-solid.fa-bars {
    visibility: visible !important;
    position: fixed !important;
    z-index: 10 !important;
  }
  #espace_pro {
    main {
      padding-left: 20px;
      padding-right: 20px;
      .main_bloc_institut {max-width: 100%;}
      .flex {
        flex-direction: column;
        .espace_pro_bloc {
          width: 100%;
          margin-top: 2em;
        }
      }
      table {width: 100%;}
    }
    .soins_espace_pro {
      div {width: 100%;}
    }
    .espace_pro_map {margin-bottom: 2em;}
  }
  .grid.soins_carte, .grid.soins_carte.perso {
    grid-template-columns: 1fr;
    .grid_item {
      .flex{
        div {margin:0 !important;}
      }
    }
  }
  .btn-custom.carte_soins {
    width: 100%;
  }
  .rdv {
    .rdv_top {
      flex-direction: row !important;
      .first_section {
        max-width: 100%;
        text-align: left;
        flex-direction: column;
        p {width: 100%;text-align: left;}
      }
    }
  }
  .btn_traite {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .form_stock {
    max-width: 100%;
    .flex {
      flex-direction: row !important;
    }
  }
  .list_phototheque {
    grid-template-columns: repeat(2,1fr);
  }
}


/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */

/*------------------------------------------*/



/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}



/*------------------------------------------
  Live demo samples
   - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/
