#post {
  img {
    width: 100%; height: 270px;
    object-fit: cover;
  }
  .post_chapo {}
  .post_date {
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 5px;
  }
  .source_img {
    display: block;
    padding: 5px 8px;
    background-color: #f3f3f3; color:black;
    font-size: 0.8em;
  }
}
