#product-main {
  h1 { font-size: 3em;}
  h2,p,ul,li{padding: 0;margin: 0;}
  section {
    margin-bottom: 3em;
  }
  h2 {font-family: "DM Sans", Helvetica, sans-serif;}
  .product-last {
    h2 {margin-bottom: 1em;}
  }
  #product-first-element {
    width: 100%;
    display: flex;
    .product-photos {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .product-photo {
        position: relative;
        width: 100%; height: 100%;
        .pdt-img-main {
          width: 100%; height: 100%; object-fit: cover;
          position: absolute;
          z-index:-1;
          &.visible {
            z-index:0;
          }
        }
      }
      .product-carroussel{
        margin-top: 20px;
        display: grid;
        //grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5,100px);
        grid-gap: 10px;
        .pdt-img-select {
          object-fit: fill;
          cursor: pointer;
          opacity: 0.4;
          &.selected {
            border: solid 1px #D9D9D9;
            opacity: 1;
          }
        }
      }
    }

    .product-informations {
      width: 50%;
      display: grid;
      padding-left: 2em;
      h2,p
      {
        font-size: 1rem;
        font-family: "DM Sans", Helvetica, sans-serif;
      }
      h2 {font-weight: 600;}
      grid-template-areas:
      "titre titre"
      "gamme gamme"
      "actions actions"
      "description description"
      "desc-content desc-content"
      "labels labels"
      "micro micro"
      "cta cta"
      ;
      .product-name {
        grid-area:titre;
      }
      .product-gamme {
        grid-area:gamme;
        margin-bottom: 1em;
        font-size: 1.3em;
        line-height: normal;
        font-weight: 200;
      }
      .product-actions{
        grid-area:actions;
        display: flex;
        margin-bottom: 1em;
        li {
          padding: 3px 8px 3px 8px;
          margin-right: 10px;
          border:solid 1px;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items:center;
          p {
            font-size: 0.7em;
            font-weight: 500;
          }
        }
      }
      .product-description{
        grid-area: description;
      }
      .pdt-desc {
        grid-area: desc-content;
        margin-bottom: 2em;
      }
      .product-labels{
        grid-area: labels;
        display: flex;
        margin-bottom: 1em;
        .product-label{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: auto;
          object-fit: contain;
        }
      }
      .micro-informations {
        grid-area: micro;
        margin-bottom: 2em;
        align-items: baseline;
        .space-bottom {
          margin-bottom: 5px;
          p {line-height: normal; margin-left: 5px;}
        }
        .avis-product {
          margin-left: 60px;
          .yuka-picto {
            display: flex;align-items: center;
            img {margin-right: 5px;}
          }
        }
        .contenances {
          ul {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            list-style: none;
          }
          ul li span:first-of-type {
            font-size: 0.6em;
            border-radius: 15px;
            border: solid 1px;
            padding: 2px 6px 2px 6px;
            list-style: none;
          }
          li:first-of-type {}
          .contenance-text {}
        }
      }
      .product-cta{
        grid-area: cta;
        display: flex;
        flex-direction: column;
        width: 50%;
        a{ width: 100%; font-size: 0.9em;}
        div {
          justify-content: space-between;
          margin-top: 10px;
          font-size: 0.8em;
          a {width: fit-content;}
          a:first-of-type {margin-right: 5px;}
        }
        &.soin {
          width: 100%;
          div {
            justify-content: flex-start;
          }
          a {font-size: 1em;}
        }
      }
    }
  }

  .center {
    text-align: center;
  }

  .accordions {
    font-family: "DM Sans", Helvetica, sans-serif;
    list-style: none;
    cursor: pointer;
    li {
      padding: 25px;
      border-top: solid 1px;
      div:first-of-type {
        display: flex;
        align-items: center;

      }
      h2 {
        padding-right: 6px;
        font-size: 1.2em;
      }
      .picto-chevron {
        height: 0.5em;
      }
      .accordion-hidden {
        visibility: hidden;
        height: 0;
        &.visible {
          visibility: visible;
          height: auto;
        }
      }
    }
    li:last-of-type {
      border-bottom: solid 1px;
    }
  }

}
.categorie-chapo {
  display: flex;
  width: 100%;
  margin-bottom: 3em;
}
#cover-categorie {
  display: flex;
  width: 50%;
  max-height: 250px;
  img {object-fit: cover; width: 100%;}
}
.titre-categorie {
  width: 50%;
  h1 {}
  p{}
}

#list_produits_categorie {
  font-family: "DM Sans", Helvetica, sans-serif;
  display: flex;
  aside { border: solid 1px rgba(0, 0, 0, 0.1);width: 25%; border-radius: 3px;
    font-family: "DM Sans", Helvetica, sans-serif;
    padding: 1em;
    height: fit-content;
    .titre_filtre {
      width: 100%;
      display: block;
      text-align: left;
      font-size: 1.2em;
    }
    input[type=submit] {margin: auto; margin-top: 2em;}
  }
  section { width: 100%;

    ul {
      margin-left: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding: 0;
      column-gap: 20px;
      row-gap: 30px;
      list-style: none;
      a {text-decoration: none;}
      .list_card {
        min-height: 280px;
        border: solid 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        color: black;
        border-radius: 3px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        .image {
          width: 100%;
          height: 100%;
          max-height: 280px;
          display: flex;
          img {width: 100%; object-fit: cover; border-radius: 3px 3px 0 0; object-position: 50% 50%;}
        }
        .list_card_name {
          font-family: "DM Sans", Helvetica, sans-serif;
          h2,p {font-family: "DM Sans", Helvetica, sans-serif;}
          text-align: center;
          text-decoration: none;
          font-size: 1em;
          margin: 0;
          padding: 1em 0;
          &:hover {background-color: $black; color: white;}
        }
        &.product {}
        &.soin {
          h2 { font-size: 1.2em;}
          p {margin: 0;
            span {font-weight: 500;}
          }
        }
      }
    }
  }
}

.liste_soins_index {
  margin-left: 20px;
  display: grid;
  row-gap: 20px;
}
