#product-main {
  h2,p,ul,li{padding: 0;margin: 0;}
  section {
    margin-bottom: 3em;
  }
  h2 {font-family: "DM Sans", Helvetica, sans-serif;}
  .product-last {
    h2 {margin-bottom: 1em;}
  }
  #product-first-element {
    width: 100%;
    display: flex;
    .product-photos {
      width: 50%;
      border: solid 1px;
      .product-photo {}
      .product-carroussel{
        border: solid 1px;
      }
    }
    .product-informations {
      width: 50%;
      border: solid 1px;
      display: grid;
      h2,p
      {
        font-size: 1rem;
        font-family: "DM Sans", Helvetica, sans-serif;
      }
      h2 {font-weight: 600;}
      grid-template-areas:
      "titre titre"
      "gamme gamme"
      "actions actions"
      "description description"
      "desc-content desc-content"
      "labels labels"
      "micro micro"
      "cta ."
      ;
      .product-name {
        grid-area:titre;
      }
      .product-gamme {grid-area:gamme;}
      .product-actions{
        grid-area:actions;
        display: flex;
        li {
          padding: 3px 8px 3px 8px;
          border:solid 1px;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items:center;
          p {
            font-size: 0.7em;
            font-weight: 500;
          }
        }
      }
      .product-description{
        grid-area: description;
      }
      .pdt-desc {
        grid-area: desc-content;
        margin-bottom: 2em;
      }
      .product-labels{
        grid-area: labels;
        .product-label{}
      }
      .micro-informations {
        grid-area: micro;
        margin-bottom: 2em;
        .contenances {
          ul li {
            font-size: 0.6em;
            border-radius: 15px;
            border: solid 1px;
            padding: 2px 6px 2px 6px;
            list-style: none;
          }
          li:first-of-type { margin-right: 5px;}
        }
      }
      .product-cta{
        grid-area:cta;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .accordions {
    font-family: "DM Sans", Helvetica, sans-serif;
    list-style: none;
    cursor: pointer;
    li {
      padding: 25px;
      border-top: solid 1px;
      div:first-of-type {
        display: flex;
        align-items: center;

      }
      h2 {
        padding-right: 6px;
        font-size: 1.2em;
      }
      .picto-chevron {
        height: 0.5em;
      }
      .accordion-hidden {
        visibility: hidden;
        height: 0;
        &.visible {
          visibility: visible;
          height: auto;
        }
      }
    }
    li:last-of-type {
      border-bottom: solid 1px;
    }
  }

  .center {
    text-align: center;
  }
  .grid {
    display: grid;
    list-style: none;
    &.three {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      margin-left: 50px;
      margin-right: 50px;
      grid-auto-rows: minmax(250px, auto);
    }
    &.five {
      grid-template-columns: repeat(5, 1fr);
      &.labels {
        grid-gap: 20px;
      }
    }
    &.actifs {
      li {
        border: solid 1px;
        border-radius: 50px;
      }
    }
    &.soins {
      li {
        border: solid 2px red;
        border-radius: 50px;
      }
    }
    &.produits {
      li {
        border: solid 2px blue;
        border-radius: 50px;
      }
    }
  }
}
