<div class="content_tab visible" data-espace-pro-target="tabContent">
    <ul class="liste_rdv">
    <% rdvs.where(read:false).each do |rdv| %>
      <%= render partial: "message_list_item", locals: {rdv: rdv} %>
    <% end %>
    </ul>
  </div>
  <div class="content_tab" data-espace-pro-target="tabContent">
    <ul class="liste_rdv">
    <% rdvs.where(read:true).each do |rdv| %>
      <%= render partial: "message_list_item", locals: {rdv: rdv} %>
    <% end %>
    </ul>
  </div>

</div>
