<div class="progression_customer">
  <progress value='<%= current_customer.total_trimestre %>' max=<%= @last_palier %>></progress>
  <p><%= current_customer.total_trimestre %>€/<%=@last_palier%>€ HT</p>
  <div class="progression_avantages">
    <span>-10%</span>
    <span>-15%</span>
    <span>-25%</span>
  </div>
</div>
