<h1>Mes etablissements</h1>
<ul>
<% @instituts.each do |eta| %>
<li><%= eta.name %></li>
<%= link_to eta.name, institut_espace_pro_index_path(eta)%>
<%= link_to "editer" ,edit_institut_espace_pro_index_path(eta) %>
</ul>
<% end %>
