<div class="espace_pro_presentation">
<h1>Présentation de l'espace Pro + login</h1>
<p>Find me in app/views/espace_pro/index.html.erb</p>

<%= button_to("Se connecter", new_customer_session_path)%>
</div>
