<div class="espace_pro_presentation">
  <div class="espace_pro_presentation_block text">
    <div>
      <h1>Accéder à l'espace Pro</h1>
      <br>
      <br>
      <%= button_to("Connexion", new_customer_session_path)%>
      <br>
      <br>
      <p>Pas encore membre ?<br> <%= link_to "Je deviens partenaire",devenir_partenaire_path %></p>
    </div>
  </div>
  <div class="espace_pro_presentation_block image">
    <%= image_tag("presentation-espace-pro.jpg") %>
  </div>
</div>
