<h1>Etablissement show</h1>
<%= @institut.name %>
<%= link_to "voir la fiche en ligne",institut_path(@institut),target: "_blank" %>
<%= link_to "editer" ,edit_institut_espace_pro_index_path(@institut) %>
<h2>Modifier</h2>
<h2>Carte de soins</h2>
<%= link_to "ajouter une carte",new_carte_path %>

<h2>Ma carte des soins</h2>
<% @carte.each do |soin| %>
<% fail %>
<% end %>
