<h1>Mediathèque/Documents</h1>
<h2>Médias</h2>
<ul class="medias_list">
  <% @mediateque_folders.each do |folder| %>
    <li>
    <%= link_to mediatheque_folder_espace_pro_path(folder_id:folder) do %>
      <div>
        <i class="fa-regular fa-folder fa-2xl"></i>
      </div>
      <p><%= folder.name %></p>
    <% end %>
    </li>
  <% end %>
</ul>
<hr>
<h2>Documents</h2>
<ul class="medias_list">
  <% @documents_folders.each do |folder| %>
    <li>
    <%= link_to mediatheque_folder_espace_pro_path(folder_id:folder) do %>
      <div>
        <i class="fa-regular fa-folder fa-2xl"></i>
      </div>
      <p><%= folder.name %></p>
    <% end %>
    </li>
  <% end %>
</ul>
