<h1>Statistiques</h1>
<p>Vues de l'établissement</p>

<% @visits.each do |array| %>
  <h3><%= Institut.find(array.first.properties["institut_id"]).name %></h3>
  <%= array.size %>
  <%= line_chart array.group_by_day_of_week(:time, format: "%a").count %>
  <hr>
<% end %>
