<nav id="nav-crm">
  <ul>
    <li>Mes prospects</li>
    <li>Mes clients</li>
    <li>Mes messages</li>
    <li>Commandes</li>
    <li>Mes rendez-vous</li>
    <li>FAQ</li>
    <li>Simulateur soins</li>
    <li>Statistiques</li>
    <li>Se déconnecter</li>
  </ul>
</nav>
