<table class="crm-tableau">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Entreprise</th>
    <th>Statut</th>
    <th>Montant déjà facturé €</th>
    <th>Date dernière cmd</th>
    <th>Montant dernière cmd</th>
    <th>Panier moyen</th>
    <th>Fréquence de cmd</th>
    <th>btn</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
