<table class="crm-tableau">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Entreprise</th>
    <th>Statut</th>
    <th>Montant déjà facturé €</th>
    <th>Date dernière cmd</th>
    <th>Montant dernière cmd</th>
    <th>Panier moyen</th>
    <th>Fréquence de cmd</th>
    <th>btn</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>
