<h1>Mes clients</h1>
<%= link_to "Créer un nouveau client",new_customer_crm_index_path%>
<% if @clients != nil %>
  <%= render "crm/tableau_customers", locals: {prospects: @clients} %>
<% else %>
<p>Aucun client d'enregistré pour le moment</p>
<% end %>
