<h1>Crm#index</h1>
<p>Find me in app/views/crm/index.html.erb</p>
<%= current_commercial.email %>
<%= link_to "Ajouter un prospect", new_prospect_crm_index_path ,class:"btn-crm"%>
<%= link_to "Voir tous les prospects", prospects_crm_index_path(current_commercial) %>
