<article>
  <ul class="blog_liste">
    <% @posts.each do |post| %>
      <%= link_to blog_post_path(post) do %>
        <li class="blog_item"><%= post.titre %></li>
      <% end %>
    <% end %>
  </ul>
</article>
