<div class="component_carousel">
  <% @photos = locals[:photos] %>
  <div class="carousel_cover">
    <%= image_tag @photos[0], height:500, class:"carousel_cover_img visible" %>
  </div>
  <div class="carousel_img_control institut">
    <% if @photos.attached? %>
          <% @photos.each do |photo| %>
            <%= image_tag photo, width: 140, class:"pdt-img-select", data: {action: "click->product#carrouselSelect"} %>
          <% end %>
    <% end %>
  </div>
</div>
