<div data-controller="carousel">
  <button data-action="carousel#previous"> ← </button>
  <button data-action="carousel#next"> → </button>

  <div data-carousel-target="slide">🐵</div>
  <div data-carousel-target="slide">🙈</div>
  <div data-carousel-target="slide">🙉</div>
  <div data-carousel-target="slide">🙊</div>
</div>
