<div class="carousel" data-controller="carousel">
  <div class="carousel-control">
    <button data-action="carousel#previous"> ← </button>
    <button data-action="carousel#next"> → </button>
  </div>
  <div class="grid three produits slides desktop">
    <% @photos.each do |photo| %>
      <div class="slide"><%= image_tag photo %></div>
    <% end %>
  </div>
  <div class="slides mobile">
    <% @photos.each_with_index do |photo, index| %>
      <div data-carousel-target="slide" data-index="<%= index %>" class="slide"><%= image_tag photo %></div>
    <% end %>
  </div>
</div>
