<footer>
  <div class="footer-inside">
    <p>footer</p>
    <%= link_to "Mentions légales", mentions_legales_path %>
    <%= link_to "Politique de confidentialite", politique_confidentialite_path %>
    <%= link_to "Gestion des cookies", gestion_cookies_path %>
    <%= link_to "Donnees personnelles", donnees_personnelles_path %>
  </div>
</footer>
