<div id="mobile-nav">
  <div class="mobile-message-black">
    <p>masque purifiant</p>
  </div>
  <nav class="mobile-nav-white primary">
    <p>Burger menu</p>
    <%= link_to "Espace Pro","", class:"btn-espace-pro" %>
  </nav>
  <nav class="mobile-nav-white secondary">
    <%= link_to "Trouver son institut" %>
    <%= link_to "Devenir Partenaire" %>
  </nav>
</div>
