<div class="slider_home_container" data-controller="home">
<div class="slider">
        <div class="list">
          <% if !locals[:slider].nil? %>
            <% locals[:slider].slide_items.each do |slide| %>
              <div class="item">
                  <a href=<%= slide.link %>>
                    <% if slide.photo.attached? %>
                      <%= image_tag slide.photo %>
                    <% end %>
                  </a>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="buttons">
            <button id="prev"><%= image_tag "pictos/slider_row_left.svg", width:30 %></button>
            <button id="next"><%= image_tag "pictos/slider_row_right.svg", width:30 %></button>
        </div>
        <ul class="dots">
          <% if !locals[:slider].nil? %>
            <li class="active"></li>
            <% (locals[:slider].slide_items.size-1).times do |elt|%>
              <li class=""></li>
            <% end %>
          <% end %>
        </ul>
    </div>
</div>

<script type="text/javascript">
</script>
