<table>
  <tbody>
    <tr>
      <td>Lundi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Mardi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Mercredi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Jeudi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Vendredi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Samedi</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Dimanche</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
