<article id="institut_main">
  <p class="message_institut">message institut</p>
  <section class="carrousel">
    <p>carousel</p>
  </section>
  <h1 class="titre_institut">Institut :<%= @institut.name %></h1>
  <section class="desc_institut">
    <p>desc institut</p>
  </section>
  <section class="coord_institut">
    <p>coord institut</p>
  </section>
  <section class="soins_institut">
    <p>Liste soins</p>
  </section>
</article>
