<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<progress value="70" max="100">70 %</progress>
<p>Actuellement vous bénéficiez de .. % sur vos commandes pour le prochain trimestre</p>
<ul>
<% @orders.each do |order| %>
<li><%= order.customer.lastname %> | <%= order.amount_ht %> <%= currency_symbol %> HT</li>
<% end %>
</ul>
