<h1>Données personelles</h1>

<h2>Gestion des cookies</h2>
<p>
LLPC est amené à déposer un cookie nous permettant de mieux connaitre vos centres d’intérêts, ainsi nous sommes en mesure de mieux adapter nos réponses à vos attentes. De plus ce cookie nous permettra également de réaliser des statistiques de visites visant à améliorer l’ergonomie de ce site internet.  Si toutefois vous souhaitez désactiver  ce cookie , vous pouvez désactiver en <%= link_to "cliquez ici", gestion_cookies_path %>. Ces réglages ne sont valables que sur le navigateur que vous utilisez actuellement.
</p>
<h2>Demande consultation /modifications des données personnelles</h2>
<p>
Vous disposez d’un droit de consultation et de modifications des données personnelles. Vous pouvez l’exercer en adressant votre demande par e-mail à contact@llpc.fr
</p>
<h2>Demande de suppression/opposition des données personnelles</h2>
<p>
Vous disposez d’un droit de suppression ou d’opposition à l’utilisation de vos données personnelles. Vous pouvez l’exercer en adressant votre demande par e-mail à contact@llpc.fr
</p>
<h2>Demande de désinscription à la newsletter</h2>
<p>
Pour vous désabonner de notre newsletter, merci d’adresser votre demande à contact@llpc.fr.
</p>
