<section class="inside">
  <div class="flex">
    <div>
      <h1>Bienvenue dans l'espace formation</h1>
      <p>Texte qui présente l’espace formation ici avec bcp de blabla, vous souhaitez approfondir vos connaissances et en aquérir de nouvelles pour developper votre buisness ? Vous etes au bon endroit.
      Nature is future est une marque qui accompagne les estheticienne et elle s’engage jusqu’au bout en proposant des formations et cours personnalisés et accessibles aux professionnels depuis leur espace pro. </p>
      <a href="">Se connecter a l'espace pro</a>
      <a href="">Créer son compte</a>
    </div>
    <div>
      <p><strong>IMAGE</strong></p>
    </div>
  </div>
  <div class="flex">
    <p>APPRENEZ À VOTRE RYTHME</p>
    <p>OBTENEZ DES COMPÉTENCES À LA DEMANDE</p>
    <p>ACCÈS SUR ORDINATEUR ET SUR MOBILE</p>
  </div>
</section>
<section class="inside flex">
  <div>
    <p>Image</p>
  </div>
  <div>
    <h2>Comment ça marche ?</h2>
    <ol>
      <li>Connectez-vous à votre espace pro</li>
      <li>Definissez vos besoins et vos objectifs</li>
      <li>Trouvez votre formation</li>
      <li>Obtenez votre certification</li>
    </ol>
    <a href="">Commencer maintenant</a>
  </div>
</section>
<section>
  <div class="inside">
    <h2>Nos cours et formations</h2>
      <ul>
      <li>XX</li>
      <li>YY</li>
      <li>RR</li>
      <li>SS</li>
      </ul>
  </div>
</section>
