<h1>Mentions légales</h1>

<h2>Propriétaire du site</h2>

<p>LLPC</p>
<p>16 rue d'Ankara<br>
67000 Strasbourg – France</p>
<p>Tel : +33(0)3 68 66 80 07</p>
<p>Email : contact*at*llpc.fr</p>
<p>SAS au capital de 410 815,00 €</p>
<p>R.C.S Strasbourg : 809 300 304 00015</p>
<p>APE : 7219Z</p>
<p>TVA : FR42 809 300 304</p>


<h2>Création du site internet</h2>

<p>LLPC</p>
<p>16 rue d'Ankara<br>
67000 Strasbourg – France</p>
<p>Tel : +33(0)3 68 66 80 07</p>
<p>Email : contact*at*llpc.fr</p>


<h2>Crédits</h2>

<p>Concept et production</p>

<p>Ce site internet a été réalisé en utilisant la solution Ruby on Rails.</p>


<h2>Hébergement</h2>

<p>Heroku</p>
<p>1 Market St Ste 300 - San Francisco - California - 94105</p>
<p>Hébergement des données sur des serveurs situés en Irlande, Europe.</p>


<p>Loi du 6 janvier 1978 relative à l’informatique et aux libertés et loi
n°2004-575 du 21 juin 2004 pour la confiance dans l’économie
numérique</p>

<p>Conformément à la loi informatique et liberté du 6 janvier 1978 modifiée par la loi du
6 aout 2004, nous sommes tenu de prendre toutes précautions utiles, au regard de la
nature des données et des risques présentés par le traitement, pour préserver la
sécurité des données et, notamment, empêcher qu’elles soient déformées,
endommagées, ou que des tiers non autorisés y aient accès. Vos données ne seront
donc en aucun cas transmises à des tiers, personne physique ou morale.<br>
Vous détenez, de plus, un droit d’accès, de modification, de rectification et de
suppression sur l’ensemble des données détenue par LLPC.</p>

<p>L’envoi d’un mail à contact*at*llpc.fr ou un courrier adressé à
LLPC, 16 rue d'Ankara, 67000 Strasbourg, France
vous permet d’exercer vos droits.</p>


<h2>Propriété intellectuelle et droit d’auteur</h2>

<p>En vertu de l’article L.122-4 du code de la propriété intellectuelle « Toute
représentation ou reproduction intégrale ou partielle faite sans le consentement de
l’auteur ou de ses ayants droit ou ayants cause est illicite. Il en est de même pour la
traduction, l’adaptation ou la transformation, l’arrangement ou la reproduction par un
art ou un procédé quelconque. » Dès lors, toute reproduction, représentation,
diffusion du contenu de ce site (graphisme, logos, photos…) sur tout type de support
présent et non envisagé est interdite, sauf autorisation expresse de LLPC, et est susceptible de constituer un acte de
contrefaçon engageant les responsabilités civiles et pénales de tout contrevenant. La
mise en place d’un lien hypertexte pointant vers l’adresse https:/pro.natureisfuture.fr/
est autorisée mis à part pour tout site web contenant des informations à caractère
pornographique, xénophobe, politique, religieux, ainsi que tout site contenant des
caractères allant à l’encontre des bonnes mœurs et de l’ordre public.</p>

<p>LLPC n’est en aucun cas responsable du contenu des sites
sur lesquels il apparait en hyperlien.</p>
