<h1><%= @region.capitalize %></h1>
<ul>
<% if @villes != nil %>
  <% @villes.each do |dp| %>
    <% dp[1]["villes"].each do |ville|%>
      <%= link_to ville_instituts_path(@region,ville[0].downcase) do %>
        <li>Instituts de beauté à <%= ville[0].capitalize %></li>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</ul>
