<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&display=swap" rel="stylesheet">
  </head>
  <body style="padding: 1em; font-family:'Inter';">
    <div style="max-width: 1125px;margin: auto;">
    <h1 style="text-align: center; margin-bottom: 2em;">Votre documentation<br> Nature is Future</h1>
    <p>Bonjour,<br>
Nous vous remercions pour l’intérêt que vous portez à Nature is Future, marque bio professionnelle, qui accompagne près de 200 esthéticiennes, en leur proposant des produits riches en plantes issues de la pharmacopée française.
<br><br>
Nous avons le plaisir de vous transmettre la documentation pour découvrir la marque que vous trouverez en pièce jointe.
<br>
<br>
Si vous souhaitez découvrir rapidement notre concept, nous vous invitons à nous contacter à l’adresse suivante :
<br>
<a href="mailto:commercial@natureisfuture.fr">commercial@natureisfuture.fr</a>
<br>
<br>
A très bientôt,</p>
</div>
  </body>
</html>
