.btn-custom {
  padding: 10px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: solid 1px;
  width: fit-content;
  margin-bottom: 1.5em;
  padding: 5px 20px;
  &.black {
    background-color: black;
    color: white;
  }
}
.btn-rond {
  border-radius: 25px;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  font-family: "DM Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border: solid 1px;
  width: fit-content;
  text-align: center;
  &.black {
    background-color: black;
    color: white;
  }
  &.card {
    padding: 5px 20px;
    font-weight: 500;
    border: solid 1px;
    border-radius: 25px;
  }
}
