.btn-custom {
  padding: 10px;
  text-decoration: none;
  font-size: 0.8em;
  background-color: white;
  color: black;
  border: solid 1px;
  width: fit-content;
  margin-bottom: 1.5em;
  padding: 5px 20px;
  &.black {
    background-color: black;
    color: white;
  }
}
