.btn-custom {
  padding: 10px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: solid 1px;
  width: fit-content;
  margin-bottom: 1.5em;
  padding: 5px 20px;
  display: block;
  &.black {
    background-color: black;
    color: white;
  }
  &:hover {
    background-color: black;
    color: white;
    border: solid 1px black;
  }
}
.btn-rond {
  border-radius: 25px;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
  font-family: "DM Sans", Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: white;
  color: black;
  border: solid 1px;
  width: fit-content;
  text-align: center;
  display: block;
  &.black {
    background-color: black;
    color: white;
  }
  &.card {
    padding: 5px 20px;
    font-weight: 500;
    border: solid 1px;
    border-radius: 25px;
  }
}
.btn-carre {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: solid 1px black;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 300;
  font-size: 0.9em;
}
