.carousel {
  border: solid 1px red;
  position: relative;
  .carousel-control {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    z-index:0;
    &.desktop {
      visibility: visible;
    }
    &.mobile {
      visibility: hidden;
    }
    //visibility: hidden;
  }
  .slides {
    display: flex;
    justify-content: center;

    &.desktop {
      visibility: visible; height: auto;
      grid-template-columns: 1fr;
      grid-auto-rows: min-max(250px,auto);
      .slide {
        border:solid 1px red; max-height: 250px; width: 100%; object-fit: contain;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        .slide-content {
          width: 30%;object-fit: contain; display: flex;justify-content: center;
        }
      }

    }
    &.mobile {
      visibility: hidden; height:0;
      //visibility: visible; height: auto;
      grid-template-columns: 1fr;
      grid-auto-rows: min-max(250px,auto);
      .slide {
        display: flex; border:solid 1px red; max-height: 250px; width: 100%; object-fit: contain;
        border-radius: 50px;
        img {width: 100%;object-fit: contain;}
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  .carousel {
    .carousel-control {
      &.mobile {
      visibility: visible;
      }
    }
    .slides.mobile {visibility: visible; height: auto;}
    .slides.desktop {visibility: hidden; height: 0;}
    .slides.desktop {display: none;}
  }
}
