.carousel {
  position: relative;
  .carousel-control {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    z-index:2;
    &.desktop {
      visibility: visible;
    }
    &.mobile {
      visibility: hidden;
    }
    //visibility: hidden;
    button {
      border: none;
      background-color: transparent;
      width: 2em;
      height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      .picto-chevron.carousel {
        width: 100%;
        height: 100%;
      }
    }
  }
  .slides {
    display: flex;
    justify-content: center;

    &.desktop {
      visibility: visible; height: auto;
      grid-template-columns: 1fr;
      grid-auto-rows: min-max(250px,auto);


    }
    &.mobile {
      visibility: hidden; height:0;
      //visibility: visible; height: auto;
      grid-template-columns: 1fr;
      grid-auto-rows: min-max(250px,auto);

    }
    .slide {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0;
      height: 250px;
      max-height: 250px;
      .slide-card-content {
        position: relative;
        width:100%; display: flex;justify-content: center;
        height: 100%;
        border-radius: 25px;
        border: solid 1px;
        //position: absolute;
        .slide-card-desc{
          font-family: "DM Sans", Helvetica, sans-serif;
          font-size: 1em;
          z-index:-1;
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 30px;
          h3 {font-family: "DM Sans", Helvetica, sans-serif; font-size: 1em; font-weight: bold;}
          a {
            display: inline-block;
            width: fit-content;
            padding: 5px 15px;
          }
        }
        .slide-card-img {
          position: absolute;
          top: 0;
          left:0;
          width: 100%;
          height: 100%;
          z-index:0;
          border-radius: 25px;
          object-fit: fill;

        }
        &:hover {
          .slide-card-img {z-index:-1}
          .slide-card-desc {z-index:0;}
        }
      }
    }
  }
}

@media only screen and (max-width: 40em) {
  .carousel {
    .carousel-control {
      &.mobile {
      visibility: visible;
      }
    }
    .slides.mobile {visibility: visible; height: auto;}
    .slides.desktop {visibility: hidden; height: 0;}
    .slides.desktop {display: none;}
  }
}
