.carousel {
  position: relative;
  .carousel-control {
    position: absolute;
    top:50%;
    bottom: 50%;
    z-index:2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: solid 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    &.left {left:-2.5em;}
    &.right {right:-2.5em;}
    &.desktop {
      visibility: visible;
    }
    &.mobile {
      visibility: hidden;
    }
    //visibility: hidden;
  }
  .slides {
    display: flex;
    justify-content: center;

    &.desktop {
      visibility: visible; height: auto;
      grid-template-columns: 1fr;
      grid-auto-rows: min-max(250px,auto);
    }
    &.mobile {
      visibility: hidden; height:0;
      //visibility: visible; height: auto;
      grid-template-columns: 1fr;
      grid-auto-rows: min-max(250px,auto);
      display: none;
    }
    .slide {
      width: 100%;
      display: flex;
      justify-content:flex-start;
      margin: 0;
      height: 250px;
      max-height: 250px;
      .slide-card-content {
        position: relative;
        width:33%; display: flex;justify-content: center;
        height: 100%;
        border-radius: 25px;
        border: solid 1px;
        //position: absolute;
        .slide-card-desc{
          font-family: "DM Sans", Helvetica, sans-serif;
          font-size: 1em;
          z-index:-1;
          width: 100%;
          display: flex;
          flex-direction: column;
          padding: 30px;
          .slide-card-desc-info {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .slide-card-desc-cta {
              display: flex;
              justify-content: center;
            }
          }
          h3 {font-family: "DM Sans", Helvetica, sans-serif; font-size: 1em; font-weight: bold;}
          a {
            display: inline-block;
            width: fit-content;
            padding: 5px 15px;
          }
        }
        .slide-card-img {
          position: absolute;
          top: 0;
          left:0;
          width: 100%;
          height: 100%;
          z-index:0;
          border-radius: 25px;
          object-fit: cover;

        }
        &:hover {
          .slide-card-img {z-index:-1}
          .slide-card-desc {z-index:0;}
        }
      }
    }
  }
  &.home_pdts {
    //max-width: 1200px;
    //margin: auto;
  }
}

@media only screen and (max-width: 40em) {
  .carousel {
    .carousel-control {
      &.desktop {visibility: hidden;}
      &.mobile {
      visibility: visible;
      &.left {left:-1em;}
      &.right {right:-1em;}
      }
    }
    .slides.mobile {visibility: visible; height: 500px; display:block;
      .slide {height: 100%;max-height: 100%;}
      .slide-card-mobile-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: "DM Sans", Helvetica, sans-serif;
        .slide-card-mobile-image {
          display: flex;
          justify-content: center;
          padding: 0 2em;
          margin-bottom: 2em;
          img {
          width: 100%; height: 280px; border-radius: 50px;object-fit: cover;
          border: solid 1px;
          }
        }
        .slide-card-mobile-desc {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: "DM Sans", Helvetica, sans-serif;
          h3 {text-align: center; font-family: "DM Sans", Helvetica, sans-serif !important;}
          p {margin-bottom: 2em;}
          a {margin-top: 2em;}

        }
      }
    }
    .slides.desktop {visibility: hidden; height: 0;}
    .slides.desktop {display: none;}
  }
}
