.popup {
  position: relative;
  padding: 12px;
  margin-bottom: 2em;
  p {margin: 0; width:100%; text-align: center;}
  .close {object-fit: none; cursor: pointer;}
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 40em) {
  .popup {
    padding: 0;
    p {
      padding: 20px;
    }
    .close {
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}
