@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variable";
@import "config/general.scss";

@import "components/index";
@import "components/crm/index";
@import "pages/index";

@import "bootstrap";
@import "font-awesome";
