<h1>Page catégorie produits - Nom catégorie : <%= params["category"] %></h1>
<h2>Produits/soins de la page</h2>
<ul>

<% @products.each do |pdt| %>
  <li><%= link_to pdt.name, product_path(pdt) %></li>
<% end %>
</ul>

<h2>Filtres Visage</h2>
<h3>Types de produits</h3>

<%= link_to "crèmes",cosmetique_filtre_path(category:params[:category],filtre:"crèmes")%>
Sérum
Contour des yeux
Masques
Gommages
Nettoyants

<h3>Besoins</h3>
Hydratation
Nettoyage
